@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;  
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

/* Animasi untuk background gradient */
@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient {
  background: linear-gradient(-45deg, #6b21a8, #9333ea, #3b82f6, #14b8a6);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

/* Animasi untuk teks yang muncul */
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Animasi untuk tombol yang muncul */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
    animation: scale-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

/* Animasi untuk fade-in */
@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}
